@using MMASystem.Models
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ministério do Meio Ambiente</h1>
    <p class="lead">Sistema do Ministério do Meio Ambiente.</p>
</div>

@{
    var user = ViewBag.User;
}

<div class="row">
    <div class="col-md-4">
        <h2>Logue para ter acesso ao sistema</h2>
        <p>Para logar basta apenas clicar no botão "Login" do menu localizado no topo do site.</p>
    </div>
    <div class="col-md-4">
        <h2>Não tenho acesso</h2>
        <p>Peça para um administrador cadastrá-lo no sistema.</p>
    </div>
</div>